* {
  box-sizing: border-box;
  font-family: serif;
}

header {
  height: 60px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position: fixed;
  display: flex;
  top: 0;
  z-index: 10;
}

.header-left h1{
  font-size: 20px;
  color: white;
  padding-left: 10px;
}


body {
  margin: 0;
 }

a {
  text-decoration: none;
}

.top-wrapper {
  width:100%;
  height: 500px;
  background-image: url(AlexanderPlatz.jpg);
  background-size: cover;
  color: white;
}
